<!-- Background image -->
<div
  class="p-5 text-center bg-image"
  style="
      background-image: url('https://e0.pxfuel.com/wallpapers/358/470/desktop-wallpaper-forex-trading.jpg');
      height: 600px;
    "
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Investing has never been easier with Red n Green Trading</h1>
        <h4 class="mb-3">Buy and sell securities online, 0% commission for leverage free trading</h4>
        <a class="btn btn-outline-light btn-lg" href="/register" role="button">Open account</a>
      </div>
    </div>
  </div>
</div>
