<!-- Background image -->
<div
  class="p-5 text-center bg-image jumbo"
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">The one stop shop for your favorite indie games</h1>
        <h4 class="mb-3">Made by independent developers for independent developers.</h4>
        <a class="btn btn-outline-light btn-lg" href="/register" role="button">Register now!</a>
      </div>
    </div>
  </div>
</div>
