<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light g-100 px-4 sticky-top">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand m-0" href="#">
      <img
        height="50"
        src="assets/images/logo.png"
      />
      <small>Indieverse</small>
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler navbar-toggler-start"
      type="button"
      (click)="basicNavbar.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      mdbCollapse
      #basicNavbar="mdbCollapse"
    >
      <!-- Left links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-none d-lg-inline">
        <div class="d-flex gap-2" *ngIf="!userService.isLoggedIn()">
          <button type="button" class="btn btn-outline-success me-2" mdbRipple rippleColor="dark" (click)="goToLogin()">
            Login
          </button>
          <button type="button" class="btn btn-success" mdbRipple (click)="goToRegister()">Register</button>
        </div>
        <div class="d-flex gap-2" *ngIf="userService.isLoggedIn()">
          <button type="button" class="btn me-2 btn-tertiary text-success btn-lg" mdbRipple rippleColor="light"
                  (click)="router.navigateByUrl('/publish')">
            Publish
          </button>
          <button type="button" class="btn me-2 btn-tertiary text-success btn-lg" mdbRipple rippleColor="light"
                  (click)="router.navigateByUrl('/mygames')">
            My Games
          </button>
          <button type="button" class="btn me-2 btn-tertiary text-success btn-lg" mdbRipple rippleColor="light"
                  (click)="router.navigateByUrl('/user/' + userService.getUsername())">
            Profile
          </button>
          <button type="button" class="btn me-2 btn-tertiary text-success btn-lg" mdbRipple rippleColor="light"
                  (click)="userService.logout();">
            Logout
          </button>
          <button type="button"
                  (click)="openModal()"
                  class="btn me-2 btn-tertiary text-dark btn-lg">
            {{balance}}$
          </button>
        </div>
      </ul>
      <ul class="d-block d-lg-none navbar-nav ms-auto mb-2 mb-lg-0 gap-2 d-flex">
        <ng-template [ngIf]="!userService.isLoggedIn()">
          <li class="hamburgerLink rounded-3" mdbRipple>
            <a class="nav-link text-center" aria-current="page" href="/login">Login</a>
          </li>
          <li class="hamburgerLink rounded-3" mdbRipple>
            <a class="nav-link active text-center" aria-current="page" href="/register"><b>Register</b></a>
          </li>
        </ng-template>
        <ng-template [ngIf]="userService.isLoggedIn()">
          <li class="hamburgerLink rounded-3" mdbRipple>
            <a class="nav-link text-center" aria-current="page" (click)="userService.logout()" href="/">Logout</a>
          </li>
          <li class="hamburgerLink rounded-3" mdbRipple>
            <a class="nav-link text-center" aria-current="page" href="/publish">Publish</a>
          </li>

          <li class="hamburgerLink rounded-3" mdbRipple>
            <a class="nav-link text-center" aria-current="page" href="/mygames">My Games</a>
          </li>
          <li class="hamburgerLink rounded-3" mdbRipple>
            <a class="nav-link text-center" aria-current="page" [href]="'/user/' + userService.getUsername()">Profile</a>
          </li>
          <li class="hamburgerLink rounded-3" mdbRipple>
            <a class="nav-link text-center" aria-current="page" (click)="openModal()">Balance: {{balance}}$</a>
          </li>
        </ng-template>

      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
